lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

static/bower_components
static/dist/*

.idea
bearded-wookie.sublime-workspace
bearded-wookie.sublime-project
